<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/main.css"
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/">portfolio</a></li>
      <li><a href="/">short-bio</a></li>
      <li><a href="/">js-experiments</a></li>
      <li><a href="/">blog</a></li>
    </ul>
  </nav>
  <div class="container">
    {{ content }}
  </div><!-- /.container -->
  <footer>
    <ul>
      <li><a href="mailto:gil@gilfuser.net">email></a></li>
      <li><a href="https://github.com/gilfuser">github.com/gilfuser></a></li>
    </ul>
  </footer>
</body>
</html>
